/*Empty CSS file for your own CSS*/
#contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh;
}

.container-fluid {
    text-align: center;
}

h1 {
    text-shadow: 1px 2px 2px rgb(172, 172, 179);
    font-weight: bold;
    font-size: 40px;
    padding: 1em;
    font-family: "Luminari";/*"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    color: #58626c;
    padding: 2rem;
}

.btn {
    min-width: 130px;
    height: 40px;
    color: #58626c;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.7s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background: #ECC1A1;
}

.btn:disabled {
    min-width: 130px;
    height: 40px;
    color: #92a2b1;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ffffff;
    background: #f8ddc7;
}

input{
    vertical-align: center;
}

#upload{
    vertical-align: center;
}

input::file-upload-button {
    font-weight: bold;
    color: rgb(43, 83, 122);
    padding: 0.5em;
    background: #dde7f0;
}

.fa{
    size: 20px;
}

.sin-formato td:hover {
    background-color: #F5F1EE;
    transition: all 1s ease;
}

.sin-formato td {
    background-color: inherit;
    border: none;
    font-size: 18px;
}

table {
    font-family: "Luminari";/*"Lucida Sans Unicode", "Lucida Grande", Sans-Serif;*/
    font-size: 14px;
    margin: 45px;
    width: auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    font-size: 14px;
    font-weight: normal;
    padding: 1em;
    background: #ffffff;
    border-top: 4px solid #aabcfe;
    border-bottom: 1px solid #fff;
    color: rgb(0, 0, 0);
}

td {
    padding: 1em;
    background: #F5F1EE;
    border-bottom: 1px solid #fff;
    color: #49515a;
    border-top: 1px solid black;
    border: 1px solid black;
    font-size: 14px;
}

tr:hover td {
    background: #f7dcc8;
    color: #000000;
    transition: all 1s ease;
}

#encabezado{
    font-family: "Lucida Sans Unicode";
    font-weight: bold;
    font-size: 14px;
}